$spacing: 16px;

$font-family: "Roboto", "Arial", "Helvetica", sans-serif;
$font-size: 14px;

$colour-background: #311b50;
$colour-foreground: #ffffff;

$colour-hatch-1: #bdc3c7;
$colour-hatch-1-foreground: #ffffff;

$colour-hatch-2: #ffffff;
$colour-hatch-2-foreground: #666666;

$header-height: 96px;